/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
  z-index: 0; 

 }

 ::-webkit-scrollbar { 
    display: none; 
}
 @-webkit-keyframes swag {

	0% {
		transform: rotateY(0deg);
		transform: rotateX(0deg);
		transform: rotateZ(0deg);
		font-size: 100%;
		background-color: white;
	}
	50%{
		background-color: blue;
		font-size: 200%;
	}
	75%{
			background-color: red;
	}
	100% {
		transform: rotateY(360deg);
		transform: rotateX(720deg);
		transform: rotateZ(1080deg);
		font-size: 100%;
		background-color: white;
		
	}

}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    -webkit-user-select: none;
}

.body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
img{
	height: auto;
	width: 100%;
}
.menuIcon {
	width: 50%;
	position: fixed;

}
.navImg{

	width: 100%;
	height: auto;
}
/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #4CAF50;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }

   .input-field input[type=email]:focus + label {
     color: #4CAF50;
   }
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }

   .input-field textarea[type=textarea]:focus + label {
     color: #4CAF50;
   }
   .input-field textarea[type=textarea]:focus {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }

   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #4CAF50;
   }
   .st-bg { border-left:none; }
.st-dtitle { border:none; background:white; }
   .view-cap, .view-container-border { background-color:black; }
.mv-daynames-table { color:white; background:black; }
.mv-event-container { border-top:1px solid black; }
.eggs{
	/* Set rules to fill background */
	min-height: 80%;
	
	/* Set up proportionate scaling */
	width: 0;
	height: auto;
	
	/* Set up positioning */
	position: absolute;
	top: 75px;
	left: 0;
}
#star {
	color: white; 
	font-size: 45px;
}
#profile {
	margin-top: 5%; 
	margin-bottom: 2%; 
	width: 40%; 
	height: 40%; 
	left:30%; 
	top: 5%; 
	position: relative; 
	overflow: hidden;
}
html, body {
  overflow-x: hidden;
  max-width: 100%;
}
.ripple {
    opacity: 1;
   -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: ripple-effect 1.5s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
}
.rippleEffect {
}
.circleAnimation {
   border-radius:0%;   
   webkit-transform: scale(1);
   z-index: 1;
    animation: circleAnimationEffect 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
}

@keyframes circleAnimationEffect {
   0%{
    margin-top: 200vh;
  }
  100% {
   margin-top: 0vh;
  }
}
@-webkit-keyframes ripple-effect {
    0%{
    margin-top: 200vh;
  }
  100% {
   margin-top: 0vh;
  }
}
@keyframes circleAnimationEffect {
  /*0%{
    border-radius: 0%;
   -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }*/
   0%{
    border-radius: 100%;
   -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
    100% {
    border-radius: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes ripple-effect {
  0%{
    opacity: 0;
   -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
    100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
